body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background-color: #a2d2ff;
    color: #ffffff;
    display:flex;
    flex-direction: column; /*by default its row which causes the content to appear inline*/
    /*when default the "row":
    the justify-content controls the x-axis"main axis" while the align-items controls y-axis"cross axis"
    but when you change flex direction to columns:
    the default behaviour changes where now
    x-axis which now became cross axis is controled by align-items and y-axis which became the main axis is contolled by justify-content*/
    align-items: center;
}

h1, h2, h3, h4, p {
    text-shadow: 1px 1px 1px black;
}

#pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:6px solid #EFB0C9;
    object-fit: cover;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;   
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

