body {
    margin: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #2b2839;
    border-bottom: 16px solid #7c6a0a;
    background-color: #babd8d;
    transition: box-shadow 0.3 ease;
    transition: text-shadow 0.3 ease;
}

.card:hover{
    /* X-offset, Y-offset, Blur, Spread, Color */
    box-shadow: 3px 3px 10px 2px black;
}

.text:hover{
    /* X-offset, Y-offset, Blur, Color */
    text-shadow: 1px 1px 0 black;
}

.avatar {
    width: 150px;
    border-style:ridge;
    border-radius: 100%;
}
